* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

html, body, div, h1, h2, section, ul, li {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  line-height: 1.5;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #999;
  background: #000;
}

#chest {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  bottom: 50%;
}

#chest .chest {
  image-rendering: pixelated;
  width: 30%;
  transform: translateY(-50%);

  transition: 0.5s;
  transition-timing-function: cubic-bezier(.4,-0.5,0,2.0);
}
#chest .chest:hover {
  cursor: pointer;
  transform: scale(1.05) translateY(-50%);
}
#chest .chest:active {
  transition: filter 0.05s;
  transition-timing-function: ease-in;
  filter: brightness(0.5);
}
